/*Página inicial*/
.formularioLogin{
	margin-top: 150px;
}
.formularioLogin input{
	margin-bottom: 10px;
}
/*Produtos*/
.formularioProduto{
	width: 50%;
	margin: 5% auto;
}
.formularioProduto input{
	margin-bottom: 10px;
}
/*botao*/
.btn{
	vertical-align: top;
	margin-right: 10px;
}